<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeiXinPay</display-name>
  <welcome-file-list>
    <welcome-file>JSP.jsp</welcome-file>
    <welcome-file>JSP.htm</welcome-file>
    <welcome-file>JSP.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PCPay</servlet-name>
    <servlet-class>com.dingzhi.servlet.PcPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCPay</servlet-name>
    <url-pattern>/PCPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WapPay</servlet-name>
    <servlet-class>com.dingzhi.servlet.WapPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WapPay</servlet-name>
    <url-pattern>/WapPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadPayimageServlet</servlet-name>
    <servlet-class>com.dingzhi.servlet.LoadPayimageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPayimageServlet</servlet-name>
    <url-pattern>/loadPayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayNotifyUrlServlet</servlet-name>
    <servlet-class>com.dingzhi.servlet.PayNotifyUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayNotifyUrlServlet</servlet-name>
    <url-pattern>/notify</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LoadPayStateServlet</servlet-name>
    <servlet-class>com.dingzhi.servlet.LoadPayStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPayStateServlet</servlet-name>
    <url-pattern>/PayState</url-pattern>
  </servlet-mapping>
  
</web-app>